.dropDown {
  position: relative;
  border-bottom: 1px solid var(--border-gray);
  padding: 10px 0;
}

.dropDownButton {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.dropDownLabel {
  position: relative;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
}

.dropDownButtonFlex {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropDownMenu {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  padding: 0;
  margin: 10px 0 0;
  background: var(--white-background-200);
}

.dropDownMenuShow {
  max-height: 1000px;
  opacity: 1;
  padding: 20px;
  visibility: visible;
}

.dropDownMenuList {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dropDownMenuItem {
  position: relative;
  transition: all 0.3s ease;
}

.dropDownMenuItem:hover {
  color: var(--gold-color);
}
