.lagacySection {
  position: relative;
  max-width: 100%;
  height: var(--about-height);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: var(--section-spcae-top-large);
  transform: padding 0.4s ease;
}

.lagacySectionFull {
  padding: 0;
}

.lagacyImageArea {
  position: relative;
  max-width: var(--about-lagacy-image-width);
  z-index: 10;
  height: var(--about-lagacy-image-height);
  width: 100%;
  padding: var(--space-content-top);
  border-radius: var(--about-lagacy-image-radius);
  transition: all 0.9s ease;
  z-index: -1;
}

.level0 {
  max-width: var(--about-lagacy-image-width);
}
.level1 {
  max-width: 30%;
}
.level2 {
  max-width: 40%;
}
.level3 {
  max-width: 45%;
}
.level4 {
  max-width: 50%;
}
.level5 {
  max-width: 55%;
}
.level6 {
  max-width: 65%;
}
.level7 {
  max-width: 75%;
}
.level8 {
  max-width: 85%;
}
.level9 {
  max-width: 95%;
}
.level10 {
  max-width: 100%;
}

.level0 {
  max-width: var(--about-lagacy-image-width);
  padding: 40px 0 0;
}
.text1 {
  opacity: 1;
}
.text2 {
  opacity: 0.8;
}
.text3 {
  opacity: 0.6;
}
.text4 {
  opacity: 0.4;
}
.text5 {
  opacity: 0.2;
}
.text6 {
  opacity: 0;
}
.text7 {
  opacity: 0;
}
.text8 {
  opacity: 0;
}
.text9 {
  opacity: 0;
}
.text10 {
  opacity: 0;
}

.lagacyImage {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: var(--about-lagacy-image-radius);
  object-fit: cover;
}

.level10 .lagacyImage {
  border-radius: 0;
}

.lagacyYears {
  position: absolute;
  left: var(--about-lagacy-year-left);
  top: var(--about-lagacy-year-top);
  display: flex;
  flex-direction: column;
  max-width: var(--about-lagacy-year-width);
  z-index: 5;
  letter-spacing: -10px;
  line-height: 1.1;
}

.lagacyYears span {
  font-size: var(--text-para-fontsize);
  letter-spacing: 1px;
}

.lagacyPara {
  position: absolute;
  right: var(--about-lagacy-para-right);
  z-index: 5;
  bottom: var(--about-lagacy-para-bottom);
  max-width: var(--about-lagacy-para-width);
}

.lagacyDotBg {
  position: absolute;
  z-index: 1;
  top: 10%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.05;
}

/* ************************************************************************** lagacy end */

.storySection {
  position: relative;
  max-width: 100%;
  width: 100%;
  padding: var(--section-space-large);
}

.teamSection {
  position: relative;
  max-width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}

.teamMobile {
  display: none;
}

@media (max-width: 1023.98px) {
  .lagacySection {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: var(--section-spcae-top-large);
    gap: 30px;
  }

  .lagacyDotBg {
    display: none;
  }

  .level0,
  .level1,
  .level2,
  .level3,
  .level4,
  .level5,
  .level6,
  .level7,
  .level8,
  .level9,
  .level10 {
    max-width: 100%;
    padding: 0;
  }

  .text1,
  .text2,
  .text3,
  .text4,
  .text5,
  .text6,
  .text7,
  .text8,
  .text9,
  .text10 {
    opacity: 1;
  }

  .lagacyYears {
    position: relative;
    padding: var(--space-content-top);
    align-items: center;
    text-align: center;
    z-index: 5;
    line-height: 1.1;
    letter-spacing: -4px;
  }

  .lagacyPara {
    position: relative;
    padding: 0 15px;
    text-align: center;
  }

  .teamSection {
    display: none;
  }

  .teamMobile {
    display: block;
  }
}
