.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  max-width: var(--container-width);
  padding-right: var(--container-space);
  padding-left: var(--container-space);
}
