.heroMain {
  max-width: 100%;
  width: 100%;
  background: var(--white-background);
  height: var(--hero-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroMain::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: var(--main-overlay);
  z-index: 10;
}

.heroImageArea {
  position: absolute;
  inset: 0;
  z-index: 5;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.heroImageMain {
  inset: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.heroContentArea {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 40;
  max-width: 100%;
  width: 100%;
}

.heroTextOne,
.heroTextTwo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: var(--white-color);
  text-transform: uppercase;
  line-height: 1;
}

.heroTextOne {
  bottom: 0;
  font-size: var(--text-verylarge-fontsize);
  opacity: 1;
  font-family: var(--font-main);
  letter-spacing: -12px;
  transition: all 0.4s ease-out;
}

.heroTextTwo {
  bottom: -80px;
  font-size: var(--text-verylarge-fontsize);
  letter-spacing: -12px;
  font-family: var(--font-main);
  opacity: 0;
  transition: all 0.4s ease-out;
}

.heroTextOne.scrolled {
  bottom: 80px;
  opacity: 0;
}

.heroTextTwo.scrolled {
  bottom: 0;
  opacity: 1;
}

.scrollDown {
  position: absolute;
  bottom: 50px;
  gap: 15px;
  width: 100%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollDownImage {
  max-width: 30px;
  width: 100%;
  object-fit: contain;
}

.scrollDownText {
  color: var(--white-color);
  text-transform: uppercase;
}

/* ********************************************************************* hero end *************************************** */

.whyUsMain {
  position: relative;
  max-width: 70%;
  background: var(--white-background);
  width: 100%;
  margin: 0 auto;
  padding: var(--section-space-large);
  z-index: 20;
  border-radius: var(--whyus-radius);
  transition: border-radius 0.3s ease, max-width 0.3s ease;
}

.whyUsScrollRadius {
  max-width: 100%;
  border-radius: var(--whyus-scroll-radius);
}

.whyUsMainHeading {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 0;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
}

.whyUsMainHeadingVisible {
  opacity: 1;
}

.centerMainPara {
  max-width: var(--whyus-para-width);
  justify-self: center;
  padding: var(--space-content);
  font-size: var(--text-para-fontsize);
}

.whyUsMainFlexArea {
  position: relative;
}

.whyUsMainFlex {
  position: relative;
  max-width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

/* ********************************************************************* whyus end *************************************** */

.propertiesMain {
  position: relative;
  background: var(--white-background-200);
  z-index: 20;
  max-width: 100%;
  width: 100%;
  padding: var(--section-space-large);
}

.propertyMainHeading {
  position: relative;
  text-align: center;
}

.propertiesMainCardArea {
  position: relative;
  display: flex;
  max-width: 100%;
  width: 100%;
  flex-direction: column;
  padding: var(--space-content-top);
}

.propertiesMainButtonArea {
  position: relative;
  padding: var(--space-content-top);
  display: flex;
  justify-content: center;
}

/* ************************************************************************ property end ********************************* */

.mediaSection {
  position: relative;
  max-width: 100%;
  width: 100%;
  z-index: 20;
  background: var(--white-background);
  padding: var(--section-space-large);
}

.mediaMainHeading {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-transform: uppercase;
}

.mediaCardArea {
  position: relative;
  display: grid;
  align-items: start;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  padding: var(--space-content-top);
}

.mediaMainButtonArea {
  position: relative;
  display: flex;
  justify-content: center;
  padding: var(--space-content-top);
}

.mediaMobile {
  display: none;
}

@media (max-width: 767.98px) {
  .heroTextOne {
    bottom: 40px;
  }

  .heroTextTwo {
    opacity: 1;
    font-size: var(--text-h1-fontsize);
    bottom: -30px;
  }

  .heroTextOne.scrolled {
    bottom: 40px;
    opacity: 1;
  }

  .heroTextTwo.scrolled {
    bottom: -30px;
    opacity: 1;
  }

  .heroTextOne {
    letter-spacing: -5px;
  }

  .heroTextTwo {
    letter-spacing: -5px;
  }

  .scrollDown {
    display: none;
  }

  .centerMainPara {
    text-align: center;
  }

  /* hero end ***************** */

  .whyUsMainFlex {
    flex-direction: column;
  }

  .mediaMainHeading span:last-child {
    margin-left: 0;
  }
}

@media (max-width: 1023.98px) {
  .heroTextOne,
  .heroTextTwo {
    letter-spacing: -4px;
  }

  .centerMainPara {
    text-align: center;
  }

  .mediaMainHeading span:last-child {
    margin-left: 0;
  }
}

@media (max-width: 767.98px) {
  .whyUsMainFlex {
    flex-direction: column;
  }

  .mediaCardArea {
    display: none;
  }

  .mediaMobile {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .whyUsMainFlex {
    flex-direction: row;
  }

  .mediaCardArea {
    display: none;
  }

  .mediaMobile {
    display: block;
  }
}
