* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-secondary);
  font-size: var(--text-normal-fontsize);
  font-weight: var(--font-weight-400);
  line-height: 1.6;
  color: var(--black-color);
  background: var(--white-background);
  overflow-wrap: break-word;
}

/* For the entire page */
::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background: var(--gold-background);
  border-radius: 10px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
}

button:focus {
  outline: none;
}

main {
  min-height: 100vh;
}

.noData {
  text-align: center;
}

h1 {
  font-size: var(--text-h1-fontsize);
  font-weight: var(--font-weight-300);
  line-height: 1em;
  font-family: var(--font-main);
}

h2 {
  font-size: var(--text-h2-fontsize);
  font-weight: var(--font-weight-300);
  line-height: 1em;
  font-family: var(--font-main);
}

h3 {
  font-size: var(--text-h3-fontsize);
  font-weight: var(--font-weight-300);
  line-height: 1em;
  font-family: var(--font-main);
}

h4 {
  font-size: var(--text-h4-fontsize);
  font-weight: var(--font-weight-300);
  line-height: 1.1em;
  font-family: var(--font-main);
}

h5 {
  font-size: var(--text-h5-fontsize);
  font-weight: var(--font-weight-300);
  line-height: 1.1em;
  font-family: var(--font-main);
}

h6 {
  font-size: var(--text-h6-fontsize);
  font-weight: var(--font-weight-300);
  line-height: 1.1em;
  font-family: var(--font-main);
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--gold-color) !important;
  background: transparent;
  width: 25px !important;
  height: 25px !important;
}

.mobileBottomContact {
  position: fixed;
  z-index: 99999;
  width: 100%;
  max-width: 100%;
  bottom: 0;
  height: 60px;
  background: rgba(20, 20, 20, 0.7);
  display: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  text-transform: uppercase;
}

.mobileBottomText {
  position: relative;
  color: #fff;
  display: inline-flex;
  width: 100%;
  gap: 15px;
}

.mobileBottomText:first-child {
  border-right: 1px solid #fff;
  justify-content: start;
}

.mobileBottomText:last-child {
  justify-content: end;
}

@media (max-width: 767.98px) {
  .mobileBottomContact {
    display: flex;
  }
}
