.notFound {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notFoundContent {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}
